.App-header {
  height: 150px;
  padding: 50px;
  text-align: center;
  color: #7068FF;
  font-family: Garamond;
}


.App-intro {
  font-size: large;
}

.header {
  /*height: 150px;*/
  width: 200px;
  margin: 50px;
  padding: 25px, 50px;
  background: #809FFF;
  /*float: left;*/
  font-size: 18px;
  text-align: left;
}
 .container {
  padding: 25px;
  max-width: 500px;
  margin: auto;
 }

 table, th, td {
   border: 1px solid black;
}
th, td {
    padding: 15px;
    font-family: Garamond;
}

table {
    width: 100%;
}

th {
    height: 50px;
    font-size: 25px;
    background-color: #809FFF;
}


